@model BookCountry.Models.Book
@{ var book = Model;}

<h1> </h1>
<div class="row">
    <div class="col-lg-4">
        <div class="card" style="width: 38rem;">
            <img class="card-img-top img-responsive imgborder s1" src="@book.Cover" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title"><strong>@book.Title</strong></h4>
                <p class="card-text">by <strong>@book.Authors</strong>
                <p class="card-text"> Edition:&nbsp;<strong>@book.Edition</strong></p>
                <p class="card-text"> Published on:&nbsp;<strong>@book.PublishedOn.Value.ToString("MM-dd-yyyy")</strong></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item cover"><strong>Format:&nbsp;</strong>@book.Format.Name</li>
                <li class="list-group-item tpages"><strong>Total pages:&nbsp;</strong>10</li>
                <li class="list-group-item publisher"><strong>Publisher:&nbsp;</strong>@book.Publisher.Name</li>
                <li class="list-group-item book-lang"><strong>Language:&nbsp;</strong>@book.Language.Name</li>
                <li class="list-group-item isbn"><strong>ISBN-13:&nbsp;</strong>@book.Isbn</li>
                <li class="list-group-item isbn"><strong>Dewey Code:&nbsp;</strong>@book.DeweyCode</li>
                <li class="list-group-item">@book.AvailableCount copies available</li>
            </ul>
            <div class="card-block">
                <a class="btn btn-success" asp-controller="Loans" asp-action="Reserve" asp-route-bookId="@book.Id">Reserve Book</a>
            </div>
        </div>
    </div>
</div>
